
.monsterscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(7, 104, 143, 0.548);
}
.monsterscollection {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 
 
}
